.order_form{background:#f3f3f3;border:#ddd 1px solid;padding:33px 36px;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;margin:0;font-family:Arial,Helvetica}
.order_form.with_country{padding: 8px 35px 0;}
.order_form.with_country p {margin: 13px 0;}
.block_form{margin:0 0 20px}
.block_form_label{width:65px;font-size:14px;color:#333;text-align:right;display:block;float:left;margin:8px 10px 0 0}
.block_form input,.block_form select{box-sizing:border-box;display:block;width:100%;height:32px;padding:6px 10px;border:#888 1px solid;font-size:15px;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;background:#fff}
.block_form p{font-size:15px;padding-top:8px;color:#1D1D1D}
.form_hr{border-top:#bbb 1px solid}
.block_form div{margin-left:75px;position:relative}
.block_form_off{display:none}
.w_block_form_prices{padding-left:74px}
.block_form_prices p{margin-top:3px;margin-bottom:18px}
.block_form_prices_label{float:left;padding-right:5px}
.block_form_prices_total label{text-transform:uppercase}
.block_form_prices_total p{font-size:18px;padding-top:6px;margin-top:8px;margin-bottom:0;font-weight:700}
.order_form .clear{clear:both}
.order_form .fhelp{font-size:14px;color:#929292;display:block;padding-top:10px}
.errorMessage{position:absolute;z-index:10000;font-size:14px;background:#e74c3c;color:#fff;padding:6px 7px 5px;margin:3px 0 0 1px;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;font-family:Arial}
.ifr_button{font-family:Arial;display:block;margin:20px auto;border:none;outline:none;color:#fff;font-size:24px;text-decoration:none;text-align:center;width:180px;height:51px;line-height:48px;background:#e74c3c;font-weight:700;border-bottom:2px solid #c0392b;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;cursor:pointer}
.ifr_button:hover{background:#e75c4e}
.ifr_button:active{background:#c0392b}
.order_form.with_country + .ifr_button {margin: 15px auto;}
.errorMedium{color:#c00}
@media screen and (max-width:710px) {
.block_form{margin-bottom:15px}
.block_form label{text-align:left;margin:8px 21px 7px 0;float:none}
.block_form div{margin-left:0}
.block_form input,.block_form select{margin-bottom:0}
.block_form_prices label{float:left;width:auto}
.int_price_total{margin:0}
.w_block_form_prices{padding-left:0}
}